{% extends "HospiApp/base.html" %}
{% load static %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
    <h2>Iniciar sesión</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="username">Usuario:</label>
        <input type="text" id="username" name="username"><br><br>

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password"><br><br>

        <button type="submit">Ingresar</button>
    </form>

    {% if messages %}
        {% for message in messages %}
            <p style="color: red;">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <p><a href="/">Volver al inicio</a></p>
{% endblock %}
